﻿
<h3 class="box-title">Cube Summation</h3>

<div class="row" style="font-size:10px">
    Texto de ejemplo<br />

    2<br />
    4 5<br />
    UPDATE 2 2 2 4<br />
    QUERY 1 1 1 3 3 3<br />
    UPDATE 1 1 1 23<br />
    QUERY 2 2 2 4 4 4<br />
    QUERY 1 1 1 3 3 3<br />
    2 4<br />
    UPDATE 2 2 2 1<br />
    QUERY 1 1 1 1 1 1<br />
    QUERY 1 1 1 2 2 2<br />
    QUERY 2 2 2 2 2 2<br />
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Texto Entrada</label>
        </div>
        <div class="form-group">
            <textarea id="TextoEntrada" rows="15"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Texto Salida</label>
        </div>
        <div class="form-group">
            <textarea id="TextoSalida" rows="15" readonly="readonly"></textarea>
        </div>
    </div>
</div>

<button onclick="myFunction()" class="btn btn-success btn-sm">Proceso</button>


<script>
    function myFunction() {
        var url = '@Url.Content("~/")' + "CubeSummation/Proceso";
        $.getJSON(url, { texto: $("#TextoEntrada").val() }, function (data) {
            $('#TextoSalida').html(data);
        });
    }
</script>

